@charset "UTF-8";
#namespace-uikit{
  transition: margin-right .3s;
  padding-bottom: 300px;
}
#namespace-setting {
  font-family: "antialiased", "Raleway","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";

  background-color: #22252b;
  padding-bottom: 10px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  min-height: 100%;
  width: 304px;
  z-index: 5;
  overflow-y: auto;
  overflow-x: hidden;

  transform: translateX(304px);
  transition: transform .3s;
}
#namespace-uikit.namespace-uikit-modify{
  margin-right: 304px;
}
#namespace-setting.namespace-setting-modify{
  transform: translateX(0);
}

#namespace-setting *:active, #namespace-setting*:focus {
  outline: none;
}

#namespace-setting input, #namespace-setting textarea, #namespace-setting .button {
  /*去除ios webkit默认样式*/
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

#namespace-setting textarea{
  margin: 0;
  outline: none;
  vertical-align: middle;
  padding: 5px 3%;
  width: 55%;
  height: 15px;
  min-height: 15px;
  border: 1px solid transparent;
  color: #838d9d;
  font-size: 12px;
  background-color: #272b31;
  resize: none;
  margin-bottom: 2px;
}
#namespace-setting textarea:hover{
  border-color: transparent;
}
#namespace-setting .input:focus,
#namespace-setting .input:active,
#namespace-setting textarea:focus,
#namespace-setting textarea:active {
  color: #fff;
  background-color: #191c20;
  border-color: #434A54;
}



#namespace-setting form fieldset {
  border: none;
  padding: 0 0 5px 0;
  margin: 0;
}

#namespace-setting  label {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 25%;
  padding-right: 2%;
  text-align: right;
  margin-right: 0px;
  vertical-align: top;
}


#namespace-setting table {
  margin: 0 10px;
  border: none;
  width: auto;
  border-collapse: collapse;
}

#namespace-setting table th {
  color: #adb3be;
  padding: 0 2px 4px 2px;
  font-weight: 600;
  font-size: 11px;
  color: #586170;
  text-align: left;
  background-color: transparent;
  border:none;
  text-transform: capitalize;
  padding: 0 0 8px 5px;
}

#namespace-setting table td {
  padding: 0 2px 0 2px;
  background-color: transparent;
  border:none;
}
#namespace-setting table  textarea{
  width: 94%;
}

#namespace-setting .namespace-setting-title {
  font-size: 18px;
  font-weight: bolder;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #838d9d;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 4px 10px;
  margin:0;
}

#namespace-setting form td .input {
  width: 90%;
  padding: 0 5%;
  border: none;
}

#namespace-setting label {
  font-size: 10px;
  color: #586170;
  line-height: 20px;
  font-weight: 600;
  text-transform: capitalize;
  min-width: auto;
  top: auto;
}

#namespace-setting .namespace-setting-label {
  color: #adb3be;
  background-color: #1d2025;
  display: block;
  font-weight: 600;
  line-height: 20px;
  font-size: 12px;
  padding: 5px 10px;
  text-transform: capitalize;
  margin:18px 0 10px 0;
}

#namespace-setting-width {
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  left: -4px;
  background-color: transparent;
  height: 100%;
}

#namespace-setting-width:hover {
  cursor: col-resize;
}




#namespace-uikit [class^=namespace-module-] h2.demo-h2 i{
  margin-left: 100px;
  float: right;
  font-style: normal;
  font-size: 12px;
  line-height: 36px;
  visibility: hidden;
}
#namespace-uikit [class^=namespace-module-] h2.demo-h2 i:hover{
  cursor: pointer;
}
#namespace-uikit [class^=namespace-module-]:hover h2.demo-h2 i{
  visibility: visible;
}

