$blue: #55cffb !default;

$green: #34c276 !default;

$orange: #f9b954 !default;

$grey: #bababa !default;

$dark: #3f3f4d !default;

$link: #5ecbf2 !default;
$disabled: #dde2ef !default;

$text: #767676 !default;
$text-light: #969696 !default;
$text-dark: #464646 !default;

$theme: $blue !default;